/*html body{
    height:100%;
}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.connection-info{
  float: left;
  padding: 15px 15px 15px 0px;
  font-size: 16px;
  line-height: 20px;
  color: #777777;
  margin: unset;
}

.li-styling{
    padding: unset;
    list-style-type: none;
}

#list-tables{
    height: 88%;
    overflow: auto;
    overflow-x: hidden;
}

.column-section{
    height:100%;
    padding-left: 10px;
}

.panel.panel-default{
    max-height: 93%;
    overflow: hidden;
    overflow-x: hidden;
}

#columns-body{
    max-height: 470px;
    overflow: auto;
    overflow-x: hidden;
}

.column-element{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px #dddddd solid;
}

.text-bold{
    font-weight:bold;
}

.column-data{
    font-size: 12px;
}

.text-big{
    font-size: 16px;
}

#columns-panel-title{
    font-size: 20px;
}

.logout-fix{
    margin-right: unset !important;
}